// Components Styles
@use '@/components/index.scss';

@import url('https://fonts.cdnfonts.com/css/termina-test');
@import url('https://fonts.cdnfonts.com/css/univers-next-pro');

.navbar {
  display: flex;
  gap: 1rem;
}

* {
  font-family: 'Univers Next Pro', sans-serif;
  transition: all 0.1s ease-in-out;
}
